.fixed-width[data-v-40553375]{width:200px}.draggable-element[data-v-40553375]{border-left-style:solid;border-left-width:10px;padding-left:10px}.footer[data-v-40553375]{display:flex;justify-content:center;width:100%;padding-top:2rem}
